* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #131316;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#container {
    margin: 0 auto;
    max-width: 1260px;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}

.logos {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 32px;
}

.logo img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;
}

.logo:nth-child(4) {
    transition-delay: 600ms;
}



@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}